<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android"
    id        = "adm.comidaajato.com"
    versionCode = "1"
    version   = "1.0">
    <name>Adm Comidaajato</name>
    <description>
        Adm comidaajato
    </description>
    <author email="central@comidaajato.com" href="http://cordova.io">
        www.comidaajato.com
    </author>
    <icon src="icon.png" />           
    <content src="index.html" />
               
	<preference name="orientation" value="portrait" />
	<preference name="android-build-tool" value="gradle" />
	<preference name="permissions" value="none"/>
		
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="phonegap-plugin-push" source="npm" spec="1.5.3" />
    <gap:plugin name="cordova-plugin-device" source="npm" />	
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />	
	<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
	<gap:plugin name="cordova-plugin-geolocation" source="npm" />
	<gap:plugin name="cordova-plugin-network-information" source="npm" />

	<gap:splash src="splash.png" />
	<preference name="AutoHideSplashScreen" value="false" />  	
    <preference name="SplashScreenDelay" value="10000" />  
	
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    
    <gap:config-file platform="android" parent="/manifest">
        <supports-screens android:xlargeScreens="true" android:largeScreens="true" android:smallScreens="true" />
        <application android:theme="@android:style/Theme.NoTitleBar" >            
        </application>
    </gap:config-file>    
    
</widget>